/* .landingPage {
  height: 100vh;
  background-color: aqua;
} */
.empty {
  position: absolute;
  width: 100%;
  background-color: #b5b5b5;
  padding: 10rem;
  opacity: 0.1;
  transform: skewY(-10deg);
  /* top: 40%; */
}
